
html {
    font-family:  sans-serif, Arial, Helvetica;
}

body {
    background-color: #3B68C0;
}

p{
   
    margin:0px;
}

.Discography{
    width: 49%;
    height: 29%;
    margin: 0px;
    padding:0px;
    position: fixed;
}

.Discography h1{
    color: #0F244E;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 900%;
    text-align: center;
    width: 100%;
}

.Beatles{
    position: fixed;
    width: 49%;
    height: 70%;
    bottom:0;
}

.Beatles img {
    width: 80%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Albums-Group {
    position: relative;
    width: 50%;
    float: right;
}

.ano-row {
   
    margin-bottom: 10px;
    width: 95%;
    float: right;
    position: relative;
}
.album{
    position: relative;
    border: 1px solid black;
    border-radius: 10px;; 
    margin: 0px 20px;
    width: 250px;
    height: 280px;;
    text-align: center;
    display: inline-block;    

}
.album img {
    border: 1px solid black;
    border-radius:10px;
    width: 250px;
}

.album p {
    font-weight: 700 ;
}

.Divider{
    margin: 10px;
}

.divider-ano{
    font-family: sans-serif;
    font-weight: bold;
    padding: 3px 15px;
    border: 2px solid black;
    border-radius: 15px;
    display: inline-block;
}

.divider-linha{
    border: 1px solid black;
    height: 0px;
    width: 91%;
    display: inline-block;
}

.pepper{
    width: 300px;
}
