:root{
    --white: hsl(0, 0%, 100%);
    --whitetrans1: hsla(0, 0%, 100%, 0.75);
    --whitetrans2: hsla(0, 0%, 100%, 0.6);

    --verydarkblue :hsl(233, 47%, 7%);
    --darkbluedesaturated :hsl(244, 38%, 16%);
    --softviolet : hsl(277, 64%, 61%);
}

html {
    font-family: Helvetica, Arial,sans-serif;
}

body {
    background-color: var(--verydarkblue);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:var(--white);
}


#card {
    background-color: var(--darkbluedesaturated);
    border-radius: 0.625em;
    margin: 3rem 3rem;
    display: flex;
    max-width: 1050px;
    min-width: 350px;
    height: 420px;
}

#content {
    display: flex;
    flex-direction: column;
   // justify-content: center;
    align-items: left ;
    padding: 50px 90px 10px 70px;
}

h1, p, ul{
    font-family: 'Inter';
    font-weight: 400;
} 

h1{
    font-size: 36px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}
h1 > span {
    color: var(--softviolet);
}

p{
    font-size: 15px;
    line-height: 25px;
    color:var(--whitetrans1);
}

ul { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 40px 20px 0px;
    padding:0;
}

li{
    font-size:25px;
    font-weight: 700;
    display:flex;
    flex-direction: column;
}

li > span{
    font-family: 'Lexend Deca';
    font-weight: 400;
    padding-top: 2px;
    color: var(--whitetrans2);    
    letter-spacing: 1px;
    font-size: 12px;
}

#image {
    background-color: var(--softviolet);
    border-radius: 0 0.625em 0.625em 0;
    height: 100%;
    width: auto;
}

#image img {
    height: 100%;
    max-width: auto;
    border-radius: 0 0.625em 0.625em 0;
    opacity: 40%;
}


@media   (max-width: 1095px) {

    body{
        text-align: center;
    }
    #card{
        max-width: 990px;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #content {
        margin: 40px 25px;
        padding: 0;
        max-width: 450px ;
    }
    
    p{
        font-size: 1.1rem;
        line-height: 32px;
    }
    ul{
        margin: 20px 30px 0 30px;
    }

    li{
        margin: 20px 15px;
    }
    #image {
        width: 100%;
        height: auto;
        border-radius: 0.625em 0.625em 0 0;
    }
    
    #image img {
        width: 100%;
        height: auto;
        border-radius: 0.625em 0.625em 0 0;
    }

}

@media (max-width: 540px){

    #card{
        min-width: 330px;
    }

    ul{
        justify-content: center;
        align-content: center;
    }
    
    li{
        margin: 20px 60px;
    }
}

.attribution { 
    color:white;
    font-size: 11px; 
    text-align: center;
}

.attribution a { color: hsl(228, 45%, 44%); }

